# Configuração do Banco de Dados
DB_NAME="projeto_grande.db"

# --- CONFIGURAÇÃO DE E-MAIL ---
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=587

# E-mail e Senha de Aplicativo
EMAIL_SENDER="seu_email@gmail.com"
EMAIL_PASSWORD="sua_senha_de_aplicativo_aqui"
